@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

body
{
    overflow: hidden;
}

.container
{
    width: 100%;
    min-height: 100vh;
    background-color: #282a36;
}

nav
{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    line-height: 80px;
    z-index: 111;
}

.logo
{
    display: flex;
    font-size: 40px;
    font-weight: 800;
    color: #bd93f9;
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
}

b
{
    font-size: 70px;
    color: #50fa7b;
}

.navItems
{
    display: flex;
}

.navItems li
{
    list-style: none;
    margin: 0 15px;
}

.navItems li a
{
    font-size: 25px;
    color: #6272a4;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;
}

.navItems li:hover a,
.links a:hover
{
    transition: .3s;
    color: #bd93f9;
    text-transform: uppercase;
}

.links a
{
    font-size: 30px;
    color: #6272a4;
    margin: 25px 10px;
}

.wrapper
{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}

.coLs
{
    width: 50%;
}

.topline
{
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: #6272a4;
}

.topline::after
{
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: #50fa7b;
}

h1
{
    display: block;
    font-size: 7em;
    font-weight: 900;
    color: #bd93f9;
}

.multiText
{
    color: #50fa7b;
    text-transform: capitalize;
}

p
{
    display: block;
    width: 90%;
    font-size: 1.2em;
    color: #6272a4;
}

.btns
{
    width: 100%;
    position: relative;
    left: 150px;
}

button
{
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    color: #282a36;
    background-color: #6272a4;
    padding: 8px 14px;
    margin: 40px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(0,0,0,0.4);

}

button:hover
{
    color: #bd93f9;
    background-color: #44475a;
}




































































